/*Responsive for Mole*/

@media screen and (max-width:576px){
    nav ul {
        display: none;
    }
    nav{
        display: flex;
        justify-content: center;
        width: 400px;
    }
    .banner{
        flex-direction: column-reverse;
        
    }
.banner-title{
    width: 450px;
height: 50px;
color: #3A3A3A;
text-align: center;
font-size: 25px;


}
.banner-p{
    text-align: center;
width: 400px;
font-size: 12px;
font-weight: 500; 

}

.banner-column-2{
    /*width: fit-content;
    font-size: smaller;*/
}

.banner-column-1{

    display: grid;
    grid-template-rows: repeat(1,1fr);
    width: ;
    
}

.banner-img{
 padding: 0;
}

.banner-button{
   padding-left: 150px;
}
header{
    margin: 0;
}
body{
    margin: 0;
}

    .sponsors{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 10px;
      justify-content: space-evenly;
    
    }
.popular{

    grid-template-columns: repeat(1,1fr);
}


.featured-container{
    flex-direction:column-reverse;
}
.featured-column-1{
    margin: auto;

}

.featured-column-2{
margin-bottom: 20px;
}

.featured-h2{
    color: #0A0826;
text-align: center;
font-size: 24px;
font-weight: 700;
}
}